In [3]:
"""
Messing data notebook
"""
from datetime import datetime
from random import randint
import numpy as np
import pandas as pd
from pandas import NaT
from pandas.io.parsers import TextFileReader

In [8]:
MISSING_VALUES_PCT = 0.01
filepath: str = 'C:/Users/juanp/PycharmProjects/car-sales-etl/data/raw/Car Sales.csv'
text_file_reader: TextFileReader = pd.read_csv(
    filepath, header=0, chunksize=5000,
    encoding='UTF-8')
raw_df: pd.DataFrame = pd.concat(
    text_file_reader, ignore_index=True)
d1: datetime = datetime.strptime("01/01/2018", "%d/%m/%Y")
d2: datetime = datetime.strptime("31/12/2022", "%d/%m/%Y")
np.random.seed(42)

In [9]:
def random_date(first_date, second_date):
    first_timestamp = int(first_date.timestamp())
    second_timestamp = int(second_date.timestamp())
    random_timestamp = randint(first_timestamp, second_timestamp)
    return datetime.fromtimestamp(random_timestamp)

In [10]:
raw_df['Purchase Date'] = [random_date(d1, d2) for _ in range(raw_df.shape[0])]

In [11]:
np.random.seed(0)
mask = np.random.rand(len(raw_df)) < MISSING_VALUES_PCT
raw_df.loc[mask, ['Buyer Age']] = np.nan
np.random.seed(1)
mask = np.random.rand(len(raw_df)) < MISSING_VALUES_PCT
raw_df.loc[mask, ['Discount']] = np.nan
np.random.seed(2)
mask = np.random.rand(len(raw_df)) < MISSING_VALUES_PCT
raw_df.loc[mask, ['Sale Price']] = np.nan

np.random.seed(3)
mask = np.random.rand(len(raw_df)) < MISSING_VALUES_PCT
raw_df.loc[mask, ['Buyer Gender']] = None
np.random.seed(4)
mask = np.random.rand(len(raw_df)) < MISSING_VALUES_PCT
raw_df.loc[mask, ['Color']] = None
np.random.seed(5)
mask = np.random.rand(len(raw_df)) < MISSING_VALUES_PCT
raw_df.loc[mask, ['Make']] = None
np.random.seed(6)
mask = np.random.rand(len(raw_df)) < MISSING_VALUES_PCT
raw_df.loc[mask, ['New Car']] = None
np.random.seed(7)
mask = np.random.rand(len(raw_df)) < MISSING_VALUES_PCT
raw_df.loc[mask, ['Purchase Date']] = NaT

In [12]:
raw_df

,Buyer Gender,Color,Make,New Car,Purchase Date,Buyer Age,Discount,Sale Price
0,Male,Maroon,Toyota,True,2021-02-19 06:39:05,45.0,0.08,55842.0
1,Agender,Aquamarine,BMW,True,2019-10-29 03:44:43,24.0,0.46,33084.0
2,Male,Maroon,Chevrolet,True,2022-04-22 16:30:21,34.0,NaN,59488.0
3,Male,Red,Ford,False,2019-12-23 17:51:15,57.0,0.06,66418.0
4,Male,Purple,Mitsubishi,True,2021-03-05 05:59:18,45.0,0.49,69182.0
...,...,...,...,...,...,...,...,...
10995,Male,Teal,Ferrari,True,2022-10-15 04:09:31,61.0,0.36,67757.0
10996,Male,Fuscia,Volkswagen,True,2021-09-15 12:17:48,41.0,0.16,12386.0
10997,Female,Teal,GMC,False,2019-07-26 15:04:15,27.0,0.33,63839.0
10998,Female,Red,Porsche,False,2020-08-24 06:30:52,38.0,0.22,44126.0
10999,Male,Teal,Isuzu,True,2019-08-25 07:22:03,31.0,0.38,37182.0

In [ ]:
raw_df.to_csv('C:/Users/juanp/PycharmProjects/car-sales-etl/data/raw/raw_data.csv',
              index=False, encoding='UTF-8')